<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vnzla.jonasleon8.myapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ipc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"/>
        <activity android:name=".SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Registration"
            android:label="Registro"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>

      <activity
            android:name=".Home"
            android:label="Inicio"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

       <activity
            android:name=".QueyEnd"
            android:label="Gestion"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".RegistroEquipo"
            android:label="Registrar Equipos"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />


    </application>

</manifest>